/MedicalManage/nbproject/private/
/MedicalManage/MedicalManage/nbproject/private/
/MedicalManage/build/
/LocalVersion/nbproject/private/
/LocalVersion/build/
/JavaApplication1/nbproject/private/
/JavaApplication1/build/
/LocalVersion/dist/
/WebApplication1/nbproject/private/
